body{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #ffffff;
}

.light-mode {
  background-color: #e4e4e4;
  color: #000000;
}

h1, h2, h3, h4, h5, h6, p {
  text-align: center;
}

.bold{
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  background-color: #4949493a;
}

.main {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.add {
    padding: 1rem;
  }
.container {
  /* margin: 0 auto; */
  max-width: 600px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}
td{
  border: #ffffff79 1px solid;
  padding: 0.5rem;
}
tr:nth-child(even){
  background: #41414131;
}
tr:nth-child(odd){
  background: #00000013;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}
a{
  color: inherit;
  text-decoration: none;
  margin-right: 1rem;
}

.table-container{
  max-height: 600px;
  overflow-y: auto;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #4949493a;
  position: fixed;
  width: 100%;
  bottom: 0;
}